<div class="container">
  <h1>Adding a new Catch</h1>
  <div class="inputDiv">
    <input ng-model="cc.typeIn" type="text" placeholder="Type">
    <input ng-model="cc.sizeIn" type="text" placeholder="Length">
    <input ng-model="cc.weightIn" type="text" placeholder="Weight">
    <input ng-model="cc.locationIn" type="text" placeholder="Location">
    <div class="form-group">
      <label for="description">Description</label>
      <textarea ng-model="cc.descriptionIn" class="form-control" rows="3" id="description"></textarea>
    </div>
    <!-- <input ng-model="cc.descriptionIn" placeholder="Description"> -->
    <input ng-model="cc.img" placeholder="Photo">
    <button class="btn btn-default" ng-click="cc.showPicker()">Upload Photo</button>
    <!-- Google Map -->
    <div>
      <ng-map default-style="false" center="current-location" zoom="15">
        <info-window position="current-location"></info-window>
      <marker position="current-location" on-click="cc.showCustomMarker()"></marker>
      <custom-marker id="foo" position="current-location" on-click="cc.closeCustomMarker()"></custom-marker>
      </ng-map>
    </div>
    <br>
    <h4>Latitude: </h4><input ng-model="cc.lat | number : 4" type="text" placeholder="Latitude">
    <h4>Longitude: </h4><input ng-model="cc.lng | number : 4" type="text" placeholder="Latitude">
    <button class="btn btn-default" ng-click="cc.getLocation()">Find Location</button>
  </div>
  <div>
    <button class="btn btn-default" ng-click="cc.addFish()">Add Catch</button>
    <button class="btn btn-default" type="button"><a href="#user">Cancel</a></button>
  </div>
</div>
