<div class="container catchInput">
  <h1 class="newCatch">New Catch</h1>
  <br>
  <div class="inputDiv">
    <div class="form-group">
      <label for="type">Type:</label>
      <input class="form-control" ng-model="cc.typeIn" type="text" placeholder="type">
    </div>
    <div class="form-group">
      <label for="size">Length:</label>
      <input class="form-control" ng-model="cc.sizeIn" type="number" placeholder="length">
    </div>
    <div class="form-group">
      <label for="type">Weight:</label>
      <input class="form-control" ng-model="cc.weightIn" type="number" placeholder="weight">
    </div>
    <div class="form-group">
      <label for="type">Date:</label>
      <input class="form-control" ng-model="cc.dateIn" type="date" placeholder="date">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea ng-model="cc.descriptionIn" class="form-control" rows="3" id="description" placeholder="enter text..."></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-upload" ng-click="cc.showPicker()">Upload Photo</button>
      <input ng-model="cc.img" placeholder="photo" class="form-control">
    </div>
    <br>
    <div class="form-group">
      <label for="type">Location:</label>
      <input ng-model="cc.locationIn" type="text" placeholder="name" class="form-control">
    </div>

    </div>
    <!-- Google Map -->
    <div>
      <img src="https://tctechcrunch2011.files.wordpress.com/2014/06/googlemaps_topic.png?fit=1%2C1" class="googleMap">
      <!-- <img src="http://www.cap-ny153.org/Animated%20Compass.gif" class="compass"> -->
      <ng-map default-style="false" center="current-location" zoom="15">
        <info-window position="current-location"></info-window>
      <marker position="current-location" on-click="cc.showCustomMarker()"></marker>
      <custom-marker id="foo" position="current-location" on-click="cc.closeCustomMarker()"></custom-marker>
      </ng-map>
    </div>
    <br>
    <div>
      <button class="btn btn-location" ng-click="cc.getLocation()">Get Coordinates</button>
    </div>
    <br>
    <div class="form-group">
      <label for="type">Latitude:</label>
      <input class="form-control" ng-model="cc.lat | number : 4" type="text">
      <br>
      <label for="type">Longitude:</label>
      <input class="form-control" ng-model="cc.lng | number : 4" type="text">
    </div>
  </div>
  <div class="addcan">
    <a href="#user" class="btn btn-register" role="button" ng-click="cc.addFish()">Add Catch</a>
    <!-- <button class="btn btn-register" ng-click="cc.addFish()">Add Catch</button> -->
    <a href="#user" class="btn btn-cancel" role="button">Cancel</a>
  </div>
</div>
<!-- <img src="https://www.amazing-animations.com/animations/fish54.gif" class="jumpingFish">
<img src="http://www.gifs.net/Animation11/Animals/Fish/Fish_jumps_4.gif" class="jumpingFish2">
<img src="http://www.angelfire.com/home/lake/images/fish4jump.gif" class="jumpingFish3">
<img src="http://www.monsalvat.globalfolio.net/assets/trouver/orn/sea_007.jpg" class="whale">
<img src="http://www.angelfire.com/home/lake/images/4dolph.gif" class="dolfin">
<img src="http://www.angelfire.com/home/lake/images/animjump3.gif" class="jumpingFish4"> -->
