<div class="userContainer">
  <div class="userHeading">
    <h1 class="welcome">Welcome, {{uc.userName}}!<button class="btn btn-logout" ng-click="uc.logout()">Log Out</button></h1>
    <hr>
    <h2 class="fishlog">Your Fish Logs<a href="#catch" class="btn btn-newLog" role="button">New Catch</a></h2>
  </div>
  <div ng-repeat="log in uc.item" class="container userInput">
    <div class="row">
      <div class="wrapperOne">
          <img ng-src="{{log.imgUrl}}" class="images">
        <h3>Type: <small>
          <span ng-show="log.editMode"><input ng-model="uc.typeIn" type="text" ng-value="log.type"></span>
          <span ng-hide="log.editMode">{{log.type}}</span>
        </small></h3>
        <h3>Size: <small>
          <span ng-show="log.editMode"><input ng-model="uc.sizeIn" type="number" ng-value="log.size"></span>
          <span ng-hide="log.editMode">{{log.size}} inches</span>
        </small></h3>
        <h3>Weight: <small>
          <span ng-show="log.editMode"><input ng-model="uc.weightIn" type="number" ng-value="log.weight"></span>
          <span ng-hide="log.editMode">{{log.weight}} lbs</span>
        </small></h3>
        <h3>Date: <small>
          <span ng-show="log.editMode"><input ng-model="uc.dateIn" type="date" ng-value="log.date | date: 'M-dd-yyyy'"></span>
          <span ng-hide="log.editMode">{{log.date | date: 'M-dd-yyyy'}}</span>
        </small></h3>
        <div class="form-group">
          <!-- <label for="description"><h3>Description: </h3></label> -->
          <!-- <textarea class="form-control" rows="3" id="description">{{log.description}}</textarea> -->
          <h3>Description: <small>
            <span ng-show="log.editMode"><input ng-model="uc.descriptionIn" type="text" ng-value="log.description"></span>
            <span ng-hide="log.editMode"><textarea class="form-control" rows="3" id="description" ng-readOnly="true">{{log.description}}</textarea></span>
          </small></h3>
        </div>
      </div>
      <div class="wrapperTwo">
        <ng-map center="[{{log.latitude}}, {{log.longitude}}]" zoom="14">
          <marker position="[{{log.latitude}}, {{log.longitude}}]"></marker>
          <custom-marker id="foo" position="[{{log.latitude}}, {{log.longitude}}]"></custom-marker>
        </ng-map>
        <h3>Location: <small>
          <span ng-show="log.editMode"><input ng-model="uc.locationIn" type="text" ng-value="log.location"></span>
          <span ng-hide="log.editMode">{{log.location}}</span>
        </small></h3>
        <h3>Latitude: <small>
          <span ng-show="log.editMode"><input ng-model="uc.lat" type="number" ng-value="{{log.latitude | number : 4}}"></span>
          <span ng-hide="log.editMode">{{log.latitude | number : 4}}</span><!-- {{value | number : fractionSize}} -->
        </small></h3>
        <h3>Longitude: <small>
          <span ng-show="log.editMode"><input ng-model="uc.lng" type="number" ng-value="{{log.longitude | number : 4}}"></span>
          <span ng-hide="log.editMode">{{log.longitude | number : 4}}</span><!-- {{value | number : fractionSize}} -->
        </small></h3>
        <div class="uprel">
          <span ng-show="log.editMode"><button class="btn btn-save" ng-click="uc.updateFish(log._id)">Save Edit</button></span>
          <span ng-hide="log.editMode"><button class="btn btn-edit" ng-click="log.editMode = !log.editMode">Edit Catch</button></span>
          <span ng-show="log.editMode"><button class="btn btn-cancelEdit" ng-click="log.editMode = !log.editMode">Cancel Edit</button></span>
          <span ng-hide="log.editMode"><button class="btn btn-delete" ng-click="uc.removeFish(log._id)" ng-confirm="Tap Again to Release">Release Fish</button></span>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

<!-- ng-confirm="Are you sure?" -->
