<div class="userContainer">
  <div class="userHeading">
    <h1 class="welcome">Welcome, {{uc.userName}}!<button class="btn btn-logout" ng-click="uc.logout()">Log Out</button></h1>
    <hr>
    <h2 class="fishlog">Your Fish Logs<a href="#catch" class="btn btn-newLog" role="button">New Catch</a></h2>
  </div>
  <div ng-repeat="log in uc.item" class="container userInput">
    <div class="row">
      <div class="wrapperOne">
        <img ng-src="{{log.imgUrl}}" class="images">
        <h3>Type: <small>{{log.type}}</small></h3>
        <h3>Length: <small>{{log.size}} inches</small></h3>
        <h3>Weight: <small>{{log.weight}} lbs</small></h3>
        <h3>Date: <small>{{log.date | date: 'M-dd-yyyy'}}</small></h3>
        <div class="form-group">
          <label for="description"><h3>Description:</h3></label>
          <textarea class="form-control" rows="3" id="description">{{log.description}}</textarea>
        </div>
      </div>
      <div class="wrapperTwo">
        <ng-map center="[{{log.latitude}}, {{log.longitude}}]">
          <marker position="[{{log.latitude}}, {{log.longitude}}]"></marker>
          <custom-marker id="foo" position="[{{log.latitude}}, {{log.longitude}}]"></custom-marker>
        </ng-map>
        <h3>Location: <small>{{log.location}}</small></h3>
        <h3>Latitude: <small>{{log.latitude | number : 4}}</small></h3><!-- {{value | number : fractionSize}} -->
        <h3>Longitude: <small>{{log.longitude | number : 4}}</small></h3><!-- {{value | number : fractionSize}} -->
        <div class="uprel">
          <button class="btn btn-delete" ng-click="uc.removeFish(log._id)">Relese Fish</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
