<div class="container">
  <h1 id="welcome" class="lead">Welcome, {{uc.userName}}!</h1>
  <img ng-src="{{uc.picture[0].picture}}" class="profilePic">
  <button class="btn btn-default" type="button"><a href="#profile">Edit Profile</a></button>
  <button class="btn btn-default" type="button"><a href="#catch">New Catch</a></button>
  <button class="btn btn-default" ng-click="uc.logout()">Log Out</button>
  <hr>
  <div class="header">
    <h2>Fish Logs</h2>
  </div>
  <div ng-repeat="log in uc.item">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <img ng-src="{{log.img}}" class="images">
          <h3>Type: {{log.type}}</h3>
          <h3>Size: {{log.size}} inches</h3>
          <h3>Weight: {{log.weight}} lbs</h3>
        </div>
        <div class="col-xs-6">
          <h3>Location: {{log.lake}}</h3>
          <h3>Details: {{log.description}}</h3>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <hr>
</div>
